.nav-pills .nav-link.active2{
    background-color: rgba(255, 0, 0, 0.363);
    color: black;
    border: 1px solid black;
}
.nav-pills .nav-link.active{
    background-color:rgba(0, 0, 0, 0.234);
    color: black;

}
.nav-pills .nav-link{
    color: black;
}